body{
    background: black;
    font-family: "raleway";
    color: white;
}
.center{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.slider{
    width: 400px;
    height: 100px;
}
.slider .show-value{
    position: relative;
    width:100%;
    height:55px;
}
.slider .show-value span{
    position:absolute;
    width:45px;
    height:45px;
    background: white;
    color: black;
    text-align:center;
    line-height:45px;
    border-radius:50%;
}
.slider input[type="range"]{
    -webkit-appearance: none;
    width: 100%;
    height: 2px;
    background: white;
    border-radius: 2px;
    outline: none;
    border: none;
}
.slider input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 30px;
    background: white;
    border-radius: 10px;
    cursor: pointer;
}